.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}

.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.navbar-inverse {
  background-color: #191919;
  border-color: transparent;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  background-color: #f4f4f4;
}

.panel:not(:last-of-type) {
  margin-bottom: 30px;
}

.panel:last-of-type {
  margin-bottom: 0;
}

.panel-info {
  border: none;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
}

.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.btn-lg-lg,
.btn-lg-group-lg > .form-control,
.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

h1::after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #f0ad4f;
  margin: 0.85em 0 0 15px;
}

h2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  border-bottom: 3px solid #f0ad4f;
  margin: 0.25em 0 0 0;
}

h2::after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #f0ad4f;
  margin: 0.85em 0 0 15px;
}

h4 {
  font-size: 1.125rem;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  letter-spacing: 0.33em;
  margin-right: -0.33em;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

section {
  position: relative;
  overflow: hidden;
}

.new-films-item,
.top-week-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__thumbnail,
.top-week-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.new-films-item__thumbnail:hover, .new-films-item__thumbnail:focus,
.top-week-item__thumbnail:hover,
.top-week-item__thumbnail:focus {
  background-color: #df8a13;
  border-color: #df8a13;
}

.new-films-item__thumbnail:hover .new-films-item__title, .new-films-item__thumbnail:focus .new-films-item__title,
.top-week-item__thumbnail:hover .new-films-item__title,
.top-week-item__thumbnail:focus .new-films-item__title {
  color: #ffffff;
}

.new-films-item__image,
.top-week-item__image {
  width: 100%;
}

.new-films-item__caption,
.top-week-item__caption {
  text-align: center;
}

.new-films-item__title,
.top-week-item__title {
  margin: 0;
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}

.new-films-row,
.top-week-row {
  margin-right: -7.5px;
  margin-bottom: -15px;
  margin-left: -7.5px;
}

.film-news-item h3 > a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.film-news-item .thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.film-news-item:hover h3 > a {
  color: #df8a13;
}

.film-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.film-news-item:hover .btn-warning {
  background-color: #df8a13;
}

.film-news-item__caption {
  text-align: justify;
}

.film-news-item__button {
  float: right;
  margin-bottom: 30px;
}

.embed-responsive {
  border: 1px solid #d5d5d5;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.film {
  font-size: 1.2em;
}

.film-info {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.film-info__about:not(:last-of-type) {
  margin-right: 15px;
}

.film-info__badge {
  font-size: 0.8em;
}

.well {
  border-color: #d5d5d5;
  background-color: #f4f4f4;
}

textarea.form-control {
  height: auto;
}

.film-comments-form__button {
  float: right;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 15px;
  margin-right: -5px;
  border: none;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.user-login__tabs a {
  padding: 14px 5px 11px !important;
  color: #d5d5d5;
  border: none !important;
  background-color: transparent !important;
}

.site-news-item {
  position: relative;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  height: 1px;
  right: 0;
  bottom: -4px;
  width: calc(100% - 85px);
}

.site-news-item__thumbnail {
  float: left;
  width: 75px;
  margin: 0 10.0px 10.0px 0;
}

.site-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-item__title {
  margin-bottom: 0.5em;
}

.site-news-item__link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  overflow: hidden;
  height: 50px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.site-news-item__date {
  font-size: 0.8rem;
  color: #6f6f6f;
  text-align: right;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  padding-right: 50px;
  color: #165690 !important;
  background-color: transparent;
}

.top-films__item:first-child {
  border-radius: 0;
  border-top: none;
}

.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}

.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  border-color: #df8a13;
  background-color: #df8a13 !important;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  padding-top: 45px;
  color: #d5d5d5;
  background-color: #232323;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #6f6f6f;
}

.footer a:hover {
  color: #ffffff;
}

.footer-fifth {
  text-align: center;
  margin: 20px 0;
}

.footer-fifth a {
  color: #d5d5d5;
  font-weight: bold;
}

.footer-fifth a:hover {
  color: #ffffff;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
    margin: -10px 0 1em 0;
    font-family: "PT Serif", serif;
  }
  h2 {
    font-size: 2.5rem;
    margin: 60px 0 45px 45px;
    font-family: "PT Serif", serif;
  }
  h3 {
    font-size: 1.5rem;
    font-family: "PT Sans", sans-serif;
  }
  .header-logo__title {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  h1 {
    font-size: 2rem;
    margin: 0 0 1em;
    font-family: "PT Serif", serif;
  }
  h2 {
    font-size: 1.75rem;
    margin: 45px 0 30px 45px;
    font-family: "PT Serif", serif;
  }
  h3 {
    font-size: 1.25rem;
    font-family: "PT Sans", sans-serif;
  }
  .header-logo__title {
    font-size: 2.5rem;
  }
}
